// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
  background-size:cover;
  max-width:100%;
  padding: 0px;
}
.container img{
  width: 100%;
}
.uber{
  z-index: 1;
  top: 130px;
  left: 774px;
  background-color: blue;
  width: 109px;
  height: 25px;
  position: absolute;
  opacity:0;

}
.modal-title{
  background-image: url("uber-bg.png");
  height: 70px;
  text-align: center;
}
.modal-title img{
  height:75px;
}
